asgiref==3.8.1
boto3==1.34.144
botocore==1.34.144
Django==4.2.3
django-storages==1.14.4
jmespath==1.0.1
pillow==10.4.0
psycopg2-binary==2.9.9
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
s3transfer==0.10.2
six==1.16.0
sqlparse==0.5.0
tzdata==2024.1
urllib3==2.2.2




# [Unit]
# Description=gunicorn daemon
# After=network.target

# [Service]
# User=ubuntu
# Group=www-data
# WorkingDirectory=/home/ubuntu/django_ec2
# ExecStart=/home/ubuntu/django_ec2/venv/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/ubuntu/django_ec2.sock myvoting.wsgi:application

# [Install]
# WantedBy=multi-user.target


# server {
#     listen 80;
#     server_name 16.171.10.249;

#     location = /favicon.ico { access_log off; log_not_found off; }
#     location /static/ {
#         root /home/ubuntu/django_ec2;
#     }

#     location / {
#         include proxy_params;
#         proxy_pass http://unix:/home/ubuntu/django_ec2.sock;
#     }
# }

# sudo ln -s /etc/nginx/sites-available/myvoting /etc/nginx/sites-enabled